table {
  border-collapse: collapse;
  -webkit-box-shadow: 0px 19px 28px -11px rgba(34, 60, 80, 0.24);
  -moz-box-shadow: 0px 19px 28px -11px rgba(34, 60, 80, 0.24);
  box-shadow: 0px 19px 28px -11px rgba(34, 60, 80, 0.24);
}

th {
  background-color: rgb(102, 199, 234);
  color: rgb(206, 237, 240);
  font-size: 18px;
  text-transform: uppercase;
}

tr:nth-child(2n) {
  background-color: rgb(206, 237, 240);
}

td {
  color: rgb(144, 146, 148);
  text-transform: capitalize;
}

td,
th {
  border: 1px solid rgb(105, 124, 135);
  width: 250px;
  height: 40px;
  text-align: center;
}
